body{
    background-color: beige;
}
.team-card{
    background-color: blanchedalmond;
    text-align: center;
    border-radius: 10px;
    padding:20px;
    box-shadow: 4px 6px color(srgb-linear red green blue);
    transition: transform 0.3s ease-in-out;
}
.team-card img{
    border-radius: 50px ;
    width: 100px;
    height: 100px;
}
.name{
    font-size: 1.1em;
    font-weight: bold;
}
.description{
    color: blueviolet;
    font-size: 0.9em;
}